.message {
    width: 100%;
    min-height: 100vh;
    margin-top: 0.5em;
}
.message-box {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    min-height: 5vh;
    background-color: white;
    border-bottom: 1px solid gray;
}
.message-icon {
    width: 3em;
    height: 3em;
    border-radius: 1.5em;
}
.message-top {
    height: 3em;
    width: 100%;
    display: flex;
}
.message-user {
    font-family: 'Noto Sans JP';
    font-size: 0.9em;
}
.message-user-id {
    font-family: 'Noto Sans JP';
    font-size: 0.8em;
    color: gray;
}
.message-time {
    font-family: 'Noto Sans JP';
    font-size: 0.8em;
    margin-left: auto;
}
.message-text {
    font-family: 'Noto Sans JP';
    font-family: 0.8em;
}